@import "./reset.css";



body {
    font-family: 'Kanit', serif;
    background-color: #fefefe;
}

.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Header */

header {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: #ffa500;
}

.title {
    display: flex;
    justify-items: flex-start;
    align-items: start;
}

.title-a h1 {
    font-size: 30px;
    line-height: 50px;
    font-weight: 600;
    color: #676767;
    text-transform: uppercase;
}

/* Search */

form.search-box {
    height: 30px;
    display: flex;
    position: absolute;
    right: 20px;
    align-self: center;
}

input[type="text"].search {
    background-color: #ededed;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    max-width: fit-content;

}

#search-btn {
    background-color: #ededed;
    width: 30px;
    color: #676767;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
}

#search-btn:active {
    color: black;
}

/* Main */

#container {
	margin: 0 auto;
	height: 90vh;
	width: 700px;
	text-align: center;
	overflow: hidden;
	padding: 20px;
}

#btn_div {
	padding: 20px;
}

.btn {
	margin: 0px 30px 0px 70px;
    font-size: 25px;
}

#login
{
	width:200px;
    height: 60px;
    background-color: #ffa500;
    border-radius: .25rem;
}

#register
{
	width:200px;
    height: 60px;
    background-color: #ffa500;
    border-radius: .25rem;
}

.input-group
{
	padding:20px;
    display: flex;
}

#username {
    height: 40px;
    width: 300px;
    margin-left: 10px;
    padding-left: 5px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#password {
    height: 40px;
    width: 300px;
    margin-left: 10px;
    padding-left: 5px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#password2 {
    height: 40px;
    width: 300px;
    margin-left: 10px;
    padding-left: 5px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#passwordeye {
    height: 40px;
    margin-left: 10px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: white;
}

#password2eye {
    height: 40px;
    margin-left: 10px;
    border-radius: .25rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background-color: white;
}

#span_username {
    width: 80px;
    text-align: right;
    padding-top: 5px;
}

#span_password {
    width: 80px;
    text-align: right;
    padding-top: 5px;
    
}

#span_password2 {
    width: 80px;
    text-align: right;
    padding-top: 5px;
}

/* footer */

footer {
    background-color: #ffa500;
}

div.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #676767;
    font-size: 20px;
}

div.contect-info {
    display: flex;
}

i.fa-brands {
    font-size: 30px;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #676767;
}


a:active {
    color: black;
}